.btn {
    padding: 0 0.5rem;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 0.25rem;
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.control-container > button {
    margin-bottom: 0.25rem;
}